svgwidth = 900px
dscrbwidth = 400px

.dscrptholder
	position relative
	left svgwidth
	top 150px
	width dscrbwidth
	z-index 2

.idx
	width 12px
	height 12px
	// border 1px solid black
	border 1px solid black
	border-radius 12px
	margin-bottom 10px
	
.idxholder
	position fixed
	left svgwidth + dscrbwidth
	top 220px

.description
	height 500px
	width dscrbwidth - 40px
	font-family Helvetica, Arial,sans-serif
	// 'PT Serif', Georgia, serif

.descriptionH4
	color black

.svgContainer
	position fixed