.dscrptholder {
  position: relative;
  left: 900px;
  top: 150px;
  width: 400px;
  z-index: 2;
}
.idx {
  width: 12px;
  height: 12px;
  border: 1px solid #000;
  border-radius: 12px;
  margin-bottom: 10px;
}
.idxholder {
  position: fixed;
  left: 1300px;
  top: 220px;
}
.description {
  height: 500px;
  width: 360px;
  font-family: Helvetica, Arial, sans-serif;
}
.descriptionH4 {
  color: #000;
}
.svgContainer {
  position: fixed;
}
