body {
  background-color: #1b1b1b;
  color: #fff;
}
svg text {
  fill: #808080;
}
#map {
  width: 1200px;
  height: 800px;
  margin: 0;
  padding: 0;
  position: fixed;
}
.ctn-filter {
  width: 1100px;
  top: -140px;
}
.right-filter {
  margin-left: 20px;
}
.left-filter {
  margin-left: -20px;
}
#DeathMonth,
#AcciMonth {
  width: 330px;
}
.ctnContainer {
  position: fixed;
  top: 0px;
}
.iamGrey {
  width: 600px;
  height: 800px;
  position: fixed;
  top: 0px;
  left: 900px;
  background-color: #1b1b1b;
  z-index: 1;
}
