body {
  background-color: #fff;
  color: #000;
}
svg text {
  fill: #000;
}
#map {
  width: 68%;
  height: 500px;
  margin: 0;
  padding: 0;
  position: fixed;
}
.ctn-filter {
  width: 1100px;
}
.filter {
  margin-left: 20px;
}
#DeathMonth,
#AcciMonth {
  width: 330px;
}
.ctnContainer {
  position: fixed;
}
#map {
  position: fixed;
}

.dscrptholder {

    -moz-border-bottom-colors: red;
    -moz-border-left-colors: red;
    -moz-border-right-colors: red;
    -moz-border-top-colors: red;
    background-color: #cc3333;
    border-bottom: 48px none red;
    border-left: 42px none red;
    border-right: 51px none;
    left: 792px;
    padding: 2%;
    position: relative;
    top: 125px;
    width: 592px;
}
