body {
  background-color: white;
  /*#383636;*/
}

svg text {
  fill: #000;
}
#map {
  width: 68%;
  height: 500px;
  margin: 0;
  padding: 0;
  position: fixed;
}

.ctn-filter {
  width: 1100px;
}
.filter {
  margin-left: 20px;
}
#DeathMonth,
#AcciMonth {
  width: 330px;
}
.ctnContainer {
  position: fixed;
}

#AcciWeekDay {
  position: absolute;
  left: -2%;
  color: #000000;
  font-size: 13px;
}

#AcciHour {
  position: absolute;
  left: 23%;
  color: #000000;
  font-size: 13px;
}

text {
  color: #000000;
}


