doctype html
html
	head
		title Timeline
		include ../j_piece/inheader
		link(href="./css/timeline.css", rel="stylesheet")
		script(type="text/javascript", src=" ../lib/js/colorbrewer.v1.min.js")
		
	body
		div.svgContainer

		script(type="text/javascript", src="./js/timeline.js")