doctype html
html
head
title Timeline
include ../j_piece/header
		//- link(href="./css/connected.css", rel="stylesheet")
		link(href="./css/slide.css", rel="stylesheet")
		link(href="./css/traffic.css", rel="stylesheet")
		link(href="http://cdnjs.cloudflare.com/ajax/libs/dc/1.7.0/dc.css", rel="stylesheet")

		script(type="text/javascript", src=" ../lib/js/colorbrewer.v1.min.js")
		script(type="text/javascript", src="http://cdnjs.cloudflare.com/ajax/libs/crossfilter/1.3.11/crossfilter.min.js")
		script(type="text/javascript", src="./dc.min.js")
		script(type="text/javascript", src="http://maps.google.com/maps/api/js?sensor=true")
		script(type="text/javascript", src="./js/parse.js")
		
		
		
		body
		
		div.ctnContainer
			div#map
			div.ctn-filter-all
				div.ctn-filter.col-lg-12
					//- div.filter.fltMonth#AcciMonth.col-lg-3 Per Month 
					div.filter.fltWeek#AcciWeekDay.col-lg-3 Per Weekday
					div.filter.fltHour#AcciHour.col-lg-3 Per Year Month

		div.dscrptholder
			div.txtholder
			div.idxholder

		script(type="text/javascript", src="./js/slide.js")
		script(type="text/javascript", src="./js/traffic.js")