doctype html
html
head
title Timeline
include ../j_piece/header
		//- link(href="./css/connected.css", rel="stylesheet")
		link(href="./css/slide.css", rel="stylesheet")
		link(href="./css/traffic.css", rel="stylesheet")
		script(type="text/javascript", src=" ../lib/js/colorbrewer.v1.min.js")

		script(type="text/javascript", src=" ../lib/js/colorbrewer.v1.min.js")
		
		body
		div.ctnContainer

		div.dscrptholder
			div.txtholder
			div.idxholder

		script(type="text/javascript", src="./js/slide.js")
		script(type="text/javascript", src="./js/tree.js")